.header {
  width: 80vw;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  margin: 0 10vw 0 10vw;
}

.logoContainer {
  position: relative;
  height: 70px;
  width: 242px;
}

.logo {
  transition: opacity 0.2s ease-in-out;
}

.logo:hover {
  cursor: pointer;
  opacity: 0.8;
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: baseline;
}

.header li {
  margin-left: 30px;
}

.header a {
  text-decoration: none;
  font-size: 15px;
  line-height: 139%;
  color: white;
  transition: opacity 0.2s ease-in-out;
  position: relative;
}

.navLinks {
  overflow: hidden;
}

.navLinks a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: -100%;
  border-bottom: 1px solid var(--orange-color);
  transition: transform 0.2s ease-in-out;
}

.navLinks a:hover::after {
  transform: translateX(100%);
}

.header a:hover,
.header a:active,
.header a.active {
  color: white;
}

.ctaButton a {
  padding: 15px 35px;
  background-color: rgba(250, 189, 2, 0.6);
  border-radius: 30px;
  transition: opacity 0.2s ease-in-out;
}

.ctaButton a:hover {
  opacity: 0.8;
}

.darkLinks a,
.darkLinks a:hover,
.darkLinks a:active {
  color: var(--brown-color);
}

.whiteLinks a {
  color: white;
}

.toggleButton {
  position: absolute;
  top: 50px;
  right: calc(10vw - 10px);
  padding: 10px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  cursor: pointer;
}

.toggleButton .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  transition: opacity 0.1s ease-in-out, transform 0.2s ease-in-out;
}

.bar.darkBar {
  background-color: var(--brown-color);
}

.barActive.bar1 {
  transform: rotate(-45deg) translate(-7px, 7px);
}

.barActive.bar2 {
  opacity: 0;
}

.barActive.bar3 {
  transform: rotate(45deg) translate(-6px, -6px);
}

@keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}

@keyframes growUp {
  0% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(0);
  }
}

@media (max-width: 900px) {
  .darkLinks a,
  .darkLinks a:hover,
  .darkLinks a:active {
    color: white;
  }

  .toggleButton {
    display: flex;
  }

  .header {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: white;
  }

  .navbar {
    width: 100%;
    justify-content: center;
    display: flex;
    background-color: rgba(50, 35, 28, 1);
    animation: growUp 300ms ease-in-out forwards;
    transform-origin: top center;
  }

  .navbar.navbarActive {
    display: flex;
    background-color: rgba(50, 35, 28, 1);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    animation: growDown 300ms ease-in-out forwards;
    transform-origin: top center;
  }

  .logo {
    margin-top: 27px;
  }

  .navbar ul {
    flex-direction: column;
    align-items: center;
  }

  .navbar ul li {
    margin: 20px 0;
  }
}

@media (max-width: 500px) {
  .logoContainer {
    width: 200px;
  }

  .toggleButton {
    padding: 10px;
    width: 25px;
    height: 18px;
  }

  .toggleButton .bar {
    height: 2px;
  }

  .barActive.bar1 {
    transform: rotate(-45deg) translate(-5px, 7px);
  }

  .barActive.bar3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}
