.container {
  max-width: 1500px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 200px;
}

.imageRow {
  display: flex;
  margin-top: 100px;
  width: 100%;
}

.imageContainer {
  position: relative;
  width: 50%;
  min-height: 40vh;
}

.shortDescription {
  display: flex;
  align-items: flex-end;
  width: 50%;
  margin-left: 100px;
  font-size: 18px;
  line-height: 182%;
  color: rgba(26, 18, 14, 0.7);
  white-space: pre-wrap;
}

.longDescription {
  margin: 60px 100px 0;
  font-size: 18px;
  line-height: 182%;
  color: rgba(26, 18, 14, 0.7);
  white-space: pre-wrap;
}

.buttonWrapper {
  margin-top: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.contactButton {
  margin-left: 30px;
}

@media (max-width: 768px) {
  .imageRow {
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
  }
  .imageContainer {
    width: 80%;
    margin-bottom: 40px;
  }
  .shortDescription {
    margin-left: 0;
    width: 100%;
  }
  .longDescription {
    margin: 60px 0 0;
  }

  .container {
    margin-bottom: 100px;
  }
}

@media (max-width: 425px) {
  .imageRow {
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
  }
  .imageContainer {
    width: 100%;
    min-height: 25vh;
    margin-bottom: 40px;
  }
  .shortDescription {
    margin-left: 0;
    width: 100%;
  }
  .longDescription {
    margin: 60px 0 0;
  }
}
