.container {
  margin-bottom: 200px;
}

.imageRow {
  display: flex;
  margin-top: 100px;
  width: 100%;
}

.imageContainer {
  position: relative;
  width: 40%;
  min-height: 40vh;
}

.shortDescription {
  width: 60%;
  margin-left: 100px;
  font-size: 18px;
  line-height: 182%;
  color: rgba(26, 18, 14, 0.7);
}

.longDescription {
  margin: 60px 100px 0;
  font-size: 18px;
  line-height: 182%;
  color: rgba(26, 18, 14, 0.7);
  white-space: pre-wrap;
}

.buttonWrapper {
  margin-top: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
}
