.wrapper {
  display: flex;
  cursor: pointer;
}

.image {
  transform: translateX(0);
  transition: transform 0.2s ease-in-out;
}

.wrapper:hover .image {
  transform: translateX(-5px);
}

.text {
  margin-left: 5px;
}
