.header {
  position: relative;
}

.header::before {
  content: "";
  position: absolute;
  z-index: -1;
  background-color: rgba(120, 189, 111, 0.3);
  width: 35px;
  height: 35px;
  top: 5px;
  left: -10px;
}

.headerContainer {
  z-index: 1;
}

@media (max-width: 768px) {
  .header {
    font-size: 40px;
  }
}

@media (max-width: 425px) {
  .header {
    font-size: 35px;
  }
}

@media (max-width: 320px) {
  .header {
    font-size: 30px;
  }
}
