.aboutSection {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.aboutSection > p {
  margin-top: 80px;
  text-align: center;
}

.cardSection {
  width: 100%;
  margin-top: 70px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 120px;
}

.firstCard::before {
  content: "";
  position: absolute;
  z-index: -1;
  background-color: rgba(120, 189, 111, 0.3);
  border-radius: 50px;
  width: 200px;
  height: 250px;
  top: -20px;
  left: -35px;
}

.lastCard::after {
  content: "";
  position: absolute;
  z-index: -1;
  background-color: rgba(120, 189, 111, 0.3);
  border-radius: 50px;
  width: 250px;
  height: 200px;
  bottom: -35px;
  right: -25px;
}

@media (max-width: 920px) {
  .cardSection {
    flex-direction: column;
    align-items: center;
  }

  .aboutSection > p {
    margin-top: 60px;
    font-size: 15px;
  }
}

@media (max-width: 425px) {
  .aboutSection {
    margin-top: 60px;
  }

  .aboutSection > p {
    margin-top: 40px;
    font-size: 14px;
  }

  .cardSection {
    margin-bottom: 60px;
  }
}
