.card {
  width: 400px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.15);
  margin-bottom: 30px;
  position: relative;
  padding-bottom: 200px;
}

.card:not(:first-child) {
  margin-left: 35px;
}

.cardImage {
  margin-top: 30px;
}

.card h2 {
  margin-top: 15px;
  text-align: center;
  padding: 0 35px;
}

.card p {
  padding: 0 35px;
  text-align: center;
  position: absolute;
  top: 245px;
}

@media (max-width: 1450px) {
  .card {
    width: 350px;
  }
}

@media (max-width: 920px) {
  .card:not(:first-child) {
    margin-left: 0px;
  }
}

@media (max-width: 450px) {
  .card {
    width: 300px;
  }

  .card h2 {
    font-size: 20px;
  }

  .card p {
    font-size: 14px;
  }
}

@media (max-width: 380px) {
  .card {
    width: 250px;
  }

  .card h2 {
    font-size: 18px;
  }

  .card p {
    font-size: 13px;
  }
}
