.container {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  margin-bottom: 80px;
}

.sectionDescription {
  width: 100%;
  text-align: left;
}

.form {
  width: 100%;
  max-width: 1300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.columnsWrapper {
  display: flex;
  width: 100%;
  margin-top: 80px;
}

.firstColumn {
  margin: 0 15px;
  flex: 0 0 30%;
}

.secondColumn {
  margin: 0 15px;
  flex: 1 0 300px;
}

.caption {
  margin-top: 30px;
  padding: 0 10px;
  font-family: "Cabin";
  font-size: 15px;
  color: rgba(26, 18, 14, 0.5);
  line-height: 140%;
}

.linkCaption {
  font-family: "Cabin";
  font-size: 15px;
  color: rgba(26, 18, 14, 0.5);
  line-height: 140%;
}

.captionBold {
  color: rgba(26, 18, 14, 0.8);
}

.pointer {
  cursor: pointer;
}

.formButton {
  margin-top: 80px;
  padding: 14px;
  width: 170px;
  border-radius: 3px;
  background-color: var(--orange-color);
  font-size: 16px;
  font-weight: 500;
  font-family: "Poppins";
  transition: opacity 0.2s ease-in-out;
}

.formButton:hover {
  opacity: 0.8;
  cursor: pointer;
}

.notification {
  visibility: visible;
  opacity: 1;
}

.successNotification {
  background-color: rgba(120, 189, 111, 0.5);
}

.errorNotification {
  background-color: rgba(189, 111, 111, 0.5);
}

@media (max-width: 1000px) {
  .columnsWrapper {
    flex-direction: column;
  }

  .secondColumn {
    flex: none;
  }
}

@media (max-width: 920px) {
  .container {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .container p {
    font-size: 15px;
  }
}

@media (max-width: 425px) {
  .container p {
    font-size: 14px;
  }
}
