.hero {
  background-image: url("/hero-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 1000px;
  margin: 0;
  margin-top: -140px;
  display: flex;
  /* align-content: center; */
}

.heroContent {
  display: flex;
  margin-top: 350px;
  flex-direction: column;
  width: 800px;
}

.heroContent h1 {
  color: white;
  font-size: 70px;
  font-weight: 700;
  line-height: 140%;
}

.heroContent h2 {
  color: white;
  font-size: 25px;
  font-weight: 300;
  line-height: 130%;
  width: 480px;
  margin-top: 30px;
}

.buttonSection {
  margin-top: 50px;
}

.buttonElement {
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  min-width: 200px;
  font-weight: 300;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 3px;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}

.buttonElement:hover {
  opacity: 0.8;
}

.productsButton {
  color: white;
  padding: 12px 25px;
  background: none;
  border: 1px solid white;
  margin-right: 30px;
}

.ctaButton {
  background-color: var(--orange-color);
  padding: 14px 41px;
  font-weight: 500;
  color: var(--brown-color) !important;
}

@media (max-width: 1050px) {
  .heroContent {
    margin-top: 300px;
  }
}

@media (max-width: 1000px) {
  .heroContent h1 {
    font-size: 60px;
  }
}

@media (max-width: 900px) {
  .hero {
    background: url("/hero-image.jpg") rgba(50, 35, 28, 0.5);
    background-size: cover;
    background-blend-mode: multiply;
    background-position: right;
    margin-right: -100px;
  }

  .heroContent {
    margin-top: 250px;
  }
}

@media (max-width: 650px) {
  .heroContent h1 {
    font-size: 50px;
  }

  .heroContent h2 {
    width: 340px;
    font-size: 20px;
  }
}

@media (max-width: 500px) {
  .hero {
    margin-right: -200px;
    height: 850px;
  }

  .heroContent {
    width: 350px;
  }

  .heroContent h1 {
    font-size: 40px;
  }

  .heroContent h2 {
    width: 340px;
    font-size: 18px;
  }

  .buttonSection {
    display: flex;
    flex-direction: column;
  }

  .productsButton {
    margin-right: 0;
    margin-bottom: 15px;
  }
}

@media (max-width: 400px) {
  .heroContent {
    width: 300px;
    margin-top: 200px;
  }

  .heroContent h1 {
    font-size: 40px;
  }

  .heroContent h2 {
    font-size: 16px;
  }
}

@media (max-width: 350px) {
  .heroContent {
    width: 250px;
  }

  .heroContent h1 {
    font-size: 35px;
  }

  .heroContent h2 {
    width: 250px;
  }
}
