.productsSection {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: -2;
}

.description {
  color: rgba(26, 18, 14, 0.7);
  font-weight: 500;
  margin-top: 80px;
  width: 100%;
  text-align: left;
  white-space: pre-wrap;
}

.cardsBox {
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

@media (max-width: 920px) {
  .productsSection {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .cardsBox {
    margin-top: 60px;
  }

  .description {
    margin-top: 60px;
  }
}

@media (max-width: 425px) {
  .cardsBox {
    margin-top: 40px;
  }

  .description {
    margin-top: 40px;
    font-size: 14px;
  }
}
