.productsSection {
  background-color: #f8f8f8;
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: -2;
}

.productsSection > p {
  margin: 80px 40px;
  text-align: center;
}

.cardsBox {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

@media (max-width: 920px) {
  .productsSection {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .productsSection > p {
    margin: 60px 40px;
  }
}

@media (max-width: 425px) {
  .productsSection > p {
    margin: 40px 40px;
    font-size: 14px;
  }
}
